.adminpanel{
    height: 70hv;
    display: flex;
    height: 80vh;
    
}
aside {
    background-color: aliceblue;
    width: 100px;
    padding: 10px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.2);
}
.adminpanel .right-inner {
    
    padding: 10px;
}
.adminpanel .right-inner h6 {
    font-size: 8px;
}
.adminpanel .right-inner  p {
    font-size: 5px;
}
.adminpanel .right-inner img {
    width: 60px;
}
main {
    background-color: rgb(156, 200, 238); 
    width: calc(100% - 100px);
    padding: 10px;
}
.usertable {
    background-color: white;
}
.usertable th{
   border: 1px solid;
   padding: 5px;
   width: 100px;
}
table {
    margin: 0 20px ;
}
.usertable td {
    border: 1px solid;
    padding: 5px;
    width: 100px;
}
.usertable {
    
    overflow: scroll;
}
.usertable button{
    border: none;
    background-color: black;
    padding: 5px;
}
.allusers {
    position: relative;
}
/* allproduct */
.allproduct{
    margin: 10px;
}
.allproduct .head {
    display: flex;
    justify-content: space-around;
    gap: 200px;
    width: 100%;
}
.allproduct .head button{
    border: none;
    background-color: orangered;
    color: white;
}