.Navdash{
    width: 50px;
    color: white;
    background-color: rgb(1, 19, 19);
    height: 100vh;
    
    padding: 10px;
}
.Navdash p {
    text-transform: capitalize;
    font-size: 5px;
    
}
.navvdash {
    flex: 1;
}
.dashboard {
    display: flex;
}
.dashwrite-up{
    
}
button{
    border: 0;
    font-size: 5px;
}
.manageorders .manageorders-div{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.manageorders .manageorders-div label{
    display: block;
}