.image {
    
    width: 50%;
}
 img {
    width: 100%;
    margin: 0
}
.ProductDetails {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 5px;
    padding: 20px;
}
.price {
    display: flex;
    gap: 20px;
    margin: 0;
    font-size: 30px
}
.price .old-price {
    text-decoration: line-through;
    margin: 0;
    background-color: black;
    padding: 5px;
    color: white;
}
.price .new-price {

    margin: 0;
    background-color: black;
    padding: 5px;
    color: white;
}